<!doctype html>
<html>
    <head>
        <title><h1>Blogz</h1></title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <div>
            <table>
                <td><a href="/signup">Create Account</a></td>
                <td><a href="/login">Login</a></td>
                <td><a href="/blog">Main Blog Page</a></td>
                <td><a href="/new_post">Add a Blog Entry</a></td>
                <td><a href="/">All Authors</a></td>
                <td><a href="/single_user">Author Home Page</a></td>
                <td><a href="/logout">Logout</a></td>
            </table>
        </div>     
    </body>
</html>
{% block content %}
{% endblock %}